@page "/AddEmployee"
@using BlazorCRUD.Data
@inject IEmployeeService employeeService
@inject NavigationManager navigationManager

<h2>Add Employee</h2>
<hr/>
<form>
    <div class="row">
        <div class="col-md-8">
            <div class="form-group">
                <label for="Name" class="control-label">Name</label>
                <input form="Name" class="form-control" @bind="@employee.Name" />
            </div>
            <div class="form-group">
                <label for="Gender" class="control-label"></label>
                <select @bind="@employee.Gender" class="form-control">
                    <option value="">--Select Gender--</option>
                    <option value="Male">Male</option>
                    <option value="Female">Female</option>
                    <option value="Other">Other</option>
                </select>
            </div>
            <div class="form-group">
                <label for="Country" class="control-label">Country</label>
                <input form="Country" class="form-control" @bind="@employee.Country" />
            </div>
            <div class="form-group">
                <label for="City" class="control-label">Country</label>
                <input form="City" class="form-control" @bind="@employee.City" />
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <input type="button" class="btn btn-primary" @onclick="@CreateEmployee" value="Save" />
                <input type="button" class="btn btn-primary" @onclick="@Cancel" value="Cancel" />
            </div>
        </div>
    </div>
</form>

@code {
    EmployeeInfo employee = new EmployeeInfo();

    protected void CreateEmployee()
    {
        employeeService.Create(employee);
        navigationManager.NavigateTo("Employee");
    }
    void Cancel()
    {
        navigationManager.NavigateTo("Employee");
    }
}
